/* Image */
.NavBar .navbar img{
  transform:translatex(0px) translatey(0px);
  margin-left:87px;
  width:106px;
 }
 
 .App .NavBar nav{
  height:68px;
 }

 /* Body */
body{
  min-height:753px;
 }
 
 /* Row */
.Body .table .react-bootstrap-table-pagination{
  border-style:none;
 }

 /* Root */
#root{
  min-height:751px;
  background-color:#edf1f1;
 }

 /* Heading */
 #root .App h1{
  padding-left:87px;
  padding-top:32px;
  padding-bottom:0px;
 }
 
/* Create booking */
.App .Body .CreateBooking{
  position:relative;
  left:86%;
  top:-46px;;
  margin-right:87px;
  background-color:#17bc9b;
  color:#ffffff;
  border-style:solid;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-color:#17bc9b;
  min-height:47px;
  padding-left:12px;
  padding-right:12px;
 }

/* Table */
.App .Body > .table{
  margin-left:87px;
  width:89%;
  margin-right:87px;
  margin-bottom:-50px;
  transform:translatex(0px) translatey(0px);
 }

 /* Table Row */
.table-condensed thead tr{
  border-style:none;
 }
 
 /* Sortable */
 .table-condensed tr .sortable{
  border-style:none;
 }
 
 /* Head Of Table */
 .react-bootstrap-table .table-condensed thead{
  background-color:#f7f7f7;
  border-style:none;
 }
 
 /* Body Of Table */
 .react-bootstrap-table .table-condensed tbody{
  background-color:#fff;
  border-style:none;
  border-width:0px;
 }
 
 /* Table Row */
 .table-condensed tbody tr{
  border-style:none;
 }
 
 /* Table Data */
 .table-condensed tr td{
  border-style:none;
 }
 
 /* Th */
.table-condensed tr th{
  border-style:none;
 }

 /* Button */
.table-condensed tr a{
  background-color:#1abc9c;
  border-color:#1abc9c;
 }
 
 /* Division */
#root div:nth-child(2) div div{
  background-color:#ffffff;
  width:513px;
  min-height:88px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
 }

 /* Heading */
#root div div div h1{
  margin-bottom:39px;
  margin-top:10px;
  padding-top:8px;
  padding-left:11px;
 }
 
 /* Booking name */
 #bookingName{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking email */
 #bookingEmail{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking address */
 #bookingAddress{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking city */
 #bookingCity{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking state */
 #bookingState{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking zipcode */
 #bookingZipcode{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Select */
 #root select{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking date */
 #bookingDate{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Booking time */
 #bookingTime{
  height:57px;
  border-color:#4f706e;
  border-width:2px;
 }
 
 /* Close */
#root div .btn-close{
  position:relative;
  top:-82px;
  left:476px;
 }

 /* Button */
#root form .btn-primary{
  position:relative;
  left:366px;
  background-color:#1abc9c;
  border-color:#1abc9c;
  margin-left:0px;
 }

 /* Button (hover) */
div > div > .btn-primary:hover{
  background-color:#1abc9c;
  border-color:#1abc9c;
 }
 
 /* Button (active) */
 div > div > .btn-primary:active{
  background-color:#1abc9c;
  border-color:#1abc9c;
 }
 
 